<!doctype html>
<html>
    @@include('../includes/global/head.html', {
        "page_title": "Remembering Georgette McDonald"
    })
    <body class="home">
        <main
        class="main_content"
        id="main_content">
            <article class="page_content">
                <div class="introduction_and_image">
                    <div class="introduction_and_image__introduction">
                        <p>You are invited to a celebration of the life of Georgette McDonald, which will take place in the Woodland Chapel at <a href="https://www.westerleighcrem.co.uk/">Westerleigh Crematorium</a>, at 10:45am on Thursday the 16th of January.</p>
                        <p>The postcode for your satnavs is <a href="https://goo.gl/maps/9KvbAvh2KxSNitaN9">BS37 8RF</a>.</p>
                    </div><!-- .introduction_and_image__introduction -->
                    <figure class="introduction_and_image__image_figure">
                        <img
                        class="introduction_and_image__image"
                        alt="An image of Georgette McDonald"
                        src="@@baseurl/assets/images/1.jpg">
                    </figure><!-- .introduction_and_image__image -->
                </div><!-- .introduction_and_image -->
                <div class="further_information_and_contact">
                    <p>The ceremony will be informal dress, so please wear whatever you feel comfortable in, and feel free to wear bright colours if you like.</p>
                    <p>Flowers have been arranged for the ceremony, but donations to Wiltshire MIND are welcome at my mother's <a href="https://www.memorygiving.com/georgettemcdonald">Memory Giving page</a>.</p>
                    <p>Afterwards we'll head to the barn of the Old Road Tavern in Chippenham, where food will be provided. The catering has kindly been offered at cost price by a lovely friend, but if anyone would like to donate anything towards her sweet gesture then please let me know in private and I'll surprise her with it at the end.</p>
                    <p>Thank you, and if you have any questions then please let me know on <a href="tel:+07578110436">07578 110 436</a>.</p>
                </div><!-- .further_information_and_contact -->
            </article><!-- .page_content -->
        </main><!-- .main_content #main_content -->
    </body><!-- .home -->
</html>
